html, body { 
  margin: 0; 
  padding: 0;       
  background-color: #f6f7f9;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #222;

}
.navbar__logo a{ 
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar__logo img{
  height:47px; 
  width:auto; 
  display:block;
  padding:0; 
  float:none;

}


.navbar {
  background-color: rgb(0, 70, 42);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 60px;
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar__menu a {
  color: white;
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar__menu a:hover {
  text-decoration: underline;
  font-family: 'Noto Sans KR', sans-serif;
}
