* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 8px 12px;
}

.navbar_logo a {
    font-size: 24px;
    font-weight: bold;
    color: #ffda6a;
}

.navbar_menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #555;
    border-radius: 4px;
}

.navbar_toogleBtn {
    display: none;
    color: white;
    font-size: 24px;
    position: absolute;
    right: 12px;
}
