* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul, ol { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px 16px;
}

.navbar__logo a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar__menu {
    display: flex !important; 
    list-style: none;
}

.navbar__menu li {
    padding: 0 25px; 
}

.navbar__menu a {
    color: white;
    font-size: 18px;
}

.navbar__menu li:hover a {
    color: #ffd700;
}

.navbar__toggleBtn {
    display: none;
}

/* list.html 임시 css*/
.page-nation li{
    list-style: none;
}
.page-wrap{
    text-align: center;
    font-size: 0;
}
.page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight:bold;
}

/* 상품 리스트 테이블 스타일 추가 */
table {
    width: 90%; /* 화면 너비의 90% 사용 */
    margin: 20px auto; /* 중앙 정렬 및 상하 여백 */
    border-collapse: collapse; /* 셀 경계선을 하나로 합치기 */
}

table tr {
    text-align: center;
}

table td {
    border: 1px solid #ccc; /* 셀 테두리 추가 */
    padding: 10px; /* 내부 여백 추가 */
    vertical-align: top;
    width: calc(100% / 3); /* 3열로 나누기 */
}

/* Section 내부 스타일 (list.html 내용이 들어가는 영역) */
section {
    padding-top: 50px; /* 네비게이션 바 아래에 여백 추가 */
    text-align: center;
}

/* reg_reviews.html */
#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

