* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul, ol { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px 16px;
}

.navbar__logo a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar__menu {
    display: flex !important; 
    list-style: none;
}

.navbar__menu li {
    padding: 0 25px; 
}

.navbar__menu a {
    color: white;
    font-size: 18px;
}

.navbar__menu li:hover a {
    color: #ffd700;
}

.navbar__toggleBtn {
    display: none;
}